body {
    font-size: large;
}

@media screen and (max-width: 900px) {
    body {
        font-size: medium;
    }
}
@media screen and (max-width: 600px) {
    body {
        font-size: small;
    }
}

table {
    width: 100%;
    margin: 5px;
    border-spacing: 0 1px;
}

table thead {
    background-color: grey;
}

table tbody {
    background-color: rgb(199, 194, 194);
}

table tbody tr:nth-child(2n) {
    background-color: rgb(205, 205, 205);
}

table td,
table th {
    padding: 3px;
}

table td:nth-child(4),
table td:nth-child(5) {
    text-align: center;
}

section table:nth-child(2) {
    text-align: center;
}

div.btn {
    background-color: grey;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

th div.btn {
    background-color: rgb(199, 194, 194);
}

div.btn:hover {
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
}

div.btn img {
    width: 18px;
    height: 18px;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}